#wrap {
	width: 971px; /* 1024*768로 해상도를 맞추어서 설계 */
	/* 가운데 정렬을 위한 바깥쪽 여백 설정 */
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top:100px;
}

h1 {
	color: green; /* 글 색상 */
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: 12px; /* 글꼴 크기 */
	line-height: 24px; /* 줄 간격 */
}

table td,th {
	border: #d3d3d3 solid 1px; /* 경계선 색상 스타일 굵기 */
	padding: 5px; /* 안쪽 여백 */
}

th {
	background: yellowgreen; /* 배경색 */
}



a {
	text-decoration: none; /* 링크 밑줄 없애기 */
	color: black; /* 글 색상 */
}

a:HOVER {
	text-decoration: underline; /* 밑줄 */
	color: green; /* 글 색상 */
}
#wrap {
	height: 80px;
	width: 1000px;
	background: #fb524f;
	border-radius: 10px;
}
#wrap .title h1{
	color: white;
}
.list {
	width: 1000px;
	margin: auto;
}
body {
	background-image: url(../template/test1_foodblog/assets/css/bg-image/category-bg.jpg);
	/* background-image: url(../images/img2.jpg); */
	/* background-size: cover; */
}
.postPage{
	margin: auto;
	margin-top: 20px;
}
#wrap1 {
	margin-top:100px;
	height: 80px;
	width: 1000px;
	background: #fb524f;
	border-radius: 10px;
	margin: auto;
}
#wrap1 .title h1{
	color: white;
}
#wrap1 .table{
	width: 1000px
}
#wrap1 th{
	background: #fb524f;
	color: white;
}
